.layout {
    position: relative;
    max-width: 85rem;
    margin: auto;
    min-height: 100vh;
  
    @media screen and (min-width: 1700px) {
      max-width: 92rem;
    }

    & .content {
      padding-bottom: 10rem;

      @media screen and (max-width: 600px) {
        padding-bottom: 20rem
      }
    }
}